@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

  /* body */
  --bg-color: rgba(9, 8, 15, 1);
  --txt-color: rgba(233, 225, 225, 0.958);

  /* svg colors */
  --fill-color: #c4770a;
  --stroke-color: #c4770a;
}

/* Body */

html,
body {
  background-color: var(--bg-color);
  height:100vh;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

body{
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom_container{
  margin-top:82px;
  color: var(--txt-color);
}

/* Navbar */

.nav-css{
  top:0;
  color: var(--txt-color);
  overflow: hidden;
  background-color: var(--bg-color);
  z-index: 100;
}

#SvgjsG8514{
  transition: 0.5s ease-in;
}

.hamburger{
  height:40px;
  width:40px;
}

.hline-1{
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease-in;
}

.hline-2{
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 1s ease-in;
}

.hline-3{
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease-in;
}

.hamactive .hline-1{
  border-color: black;
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamactive .hline-3{
  border-color:black;
  transform: rotate(45deg) translate(-9px, -6px);
}

.hamactive .hline-2 {
  opacity:0;
}


.mobile_menu{
  position:fixed;
  background-color: antiquewhite;
  color:black;
  height:100%;
  width:100%;
  top:-100%;
  left:0px;
  right:0px;
  bottom:0px;
  padding-top: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s ease-in;
}

.mobile_menu div{
  padding-bottom: 30px;
}

.activated{
  top:0;
}

/* Homepage */

#sricharan{
  stroke: var(--stroke-color);
  stroke-width:0.25mm;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s cubic-bezier(1, 0.2, 0.17, 1.00) forwards;
}

@keyframes dash {
  75% {
    stroke-dashoffset: 0;
    
  }

  100%{
    stroke-dashoffset: 0;
    fill: var(--fill-color);
  }
}


#vapour1{
  animation: vapours 4s infinite;
}

#vapour2{
  animation: vapours 7s infinite;
}

#vapour3{
  animation: vapours 9s infinite;
}

@keyframes vapours {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

#head{
  transform: rotateX(20deg);
  animation: headlifting 7s;
  transform-origin: center;
}

@keyframes headlifting{

  0% {
    transform: rotateX(20deg);
  }

  50%{
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(20deg);
  }
}

#arm{
  animation: armmovement 5s linear;
  transform-origin: 35% 90%;
  /* transform: rotate(-150deg); */
}

@keyframes armmovement {
  0% {
      transform: rotate(0deg);
  }

  15% {
    transform: rotate(-100deg);
  }

  30% {
    transform: rotate(-160deg);
  }

  50% {
    transform: rotate(-110deg);
  }

  70% {
    transform: rotate(-160deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#hand{
  animation: handmovement 5s linear;
  transform-origin: 38% 53%;
  /* transform: rotate(40deg); */
}

@keyframes handmovement {
  0%{
    transform: rotateZ(0deg);
  }

  20%{
    transform: rotateZ(40deg);
  }

  80% {
    transform: rotateZ(40deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

/* #Vector_8{
  stroke:rgb(197, 48, 11);
  stroke-width: 3px;
  fill:rgb(14, 75, 108);
} */


/* Skills */

.skill_icon{
  width:70px;
  height:70px;
}

.sticky-element {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.normal-element {
  
}

.rotate-y-1 {
  transform: rotateY(30deg);
}

/* Projects */

#imgbg {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4%;

  padding:2.5%;

}

#divheader {
  width: 100%;
  padding: 2%;
  background-color: antiquewhite;
  text-align: center;
  color: black;
}

#divfooter {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2% 2%;
  background-color: antiquewhite;
  text-align: center;
  color: black;
}

#bgdiv{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  text-align: center;
  color:rgb(242, 238, 238);
  width:100%;
  height:95%;
  background-color: rgb(0, 0, 0);
}

#bgdiv img, #bgdiv div{
  grid-row-start: 1;
  grid-row-end: 2;
}

#bgdiv img{
  height: 60vh;
  width: 100vw;
  grid-column-start: 1;
  grid-column-end: 4;
}

#bgdiv div{
  grid-column-start: 2;
  grid-column-end: 4;
}

#desc span{
  padding:2%;
  background-color: rgba(31, 31, 31, 0.8);
}

#divfooter a {
  padding-left: 10px;
  padding-right: 10px;
}

#divfooter svg{
  padding: 5px;
  height:40px;
  width: 40px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  #bgdiv img 
  {
    height: 60vh;
    width: 100vw;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-device-width: 940px) and (orientation: landscape){
  #bgdiv img 
  {
    height: 140vh;
    width: 100vw;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/* Experience */

.singleitemlist {
  list-style: none;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-left: 2.4rem; */
}

.singleitemlist li:before {
  content: '\25CF';
  margin-right: 15px;
  font-size: 20px;
}

.positionlines {
  list-style: none;
}

.positionlines li {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.positionlines li:before {
  content: '\25CF';
  margin-right: 10px;
  font-size: 20px;
}

.positionlines li:after {
  position: absolute;
  left: 0;
  top: 40;
  content: '';
  border-left: 2px solid rgb(207, 8, 8);
  margin-left: 0.3rem;
  height: 75%;
}

.positionlines li:first-of-type:after {
  top: 50%;
}

.positionlines li:last-of-type:after {
  top: -50%;
}

.desc{
  list-style: url('./media/done.svg')
}

.partial-border{
  border-width: 1px;
  border-top: 50%;
}

/* Contact */

.vert_hr{
  height: 350px;
  width: 3px;
  border-width: 0;
  background-color: rgb(115, 115, 132);
}

.contacts_icon{
  width: 40px;
  height: 40px;
}

.contacts_center{
  
}

.contact_form{
  border-right: 1px solid;
}

.sentsvg{
  height:100px;
  width:100px;
}

.sent #tick{
  stroke: var(--stroke-color);
  fill:var(--bg-color);
  stroke-width: .5mm;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: ticking 4s linear forwards;
}


@keyframes ticking {
  75% {
    stroke-dashoffset: 0;
    
  }
  
  100% {
    stroke-dashoffset: 0;
    fill: var(--fill-color);
  }
}

.sent #circle {
  fill:var(--bg-color);
  stroke-width: .5mm;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: filling 4s linear forwards;
}

@keyframes filling {

  75% {
      stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill: antiquewhite;
  }
}

#tq_msg{
  padding-left: 10px;
  
}
